# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
/*.sqlite

# Test binary, built with `go test -c`
/*.test

# Code coverage profiles and other test artifacts
/*.out
/coverage.*
/*.coverprofile
/profile.cov

# Dependency directories (remove the comment below to include it)
# /vendor/

# Go workspace file
/go.work
/go.work.sum

# env file
/.env

# Editor/IDE
# .idea/
# .vscode/

# SVELTE ignore
/website/node_modules

# Output
/website/.output
/website/.vercel
/website/.netlify
/website/.wrangler
/website/.svelte-kit
/website/build


# OS
/website/.DS_Store
/website/Thumbs.db

# Env
/website/.env
/website/.env.*
!/website/.env.example
!/website/.env.test

# Vite
/website/vite.config.js.timestamp-*
/website/vite.config.ts.timestamp-*

