# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
/goapi/*.exe
/goapi/*.exe~
/goapi/*.dll
/goapi/*.so
/goapi/*.dylib

# Test binary, built with `go test -c`
/goapi/*.test

# Code coverage profiles and other test artifacts
/goapi/*.out
/goapi/coverage.*
/goapi/*.coverprofile
/goapi/profile.cov

# Dependency directories (remove the comment below to include it)
# /goapi/vendor/

# Go workspace file
/goapi/go.work
/goapi/go.work.sum

# env file
/goapi/.env

# Editor/IDE
# .idea/
# .vscode/

# SVELTE ignore
/svwebsite/node_modules

# Output
/svwebsite/.output
/svwebsite/.vercel
/svwebsite/.netlify
/svwebsite/.wrangler
/svwebsite/.svelte-kit
/svwebsite/build


# OS
/svwebsite/.DS_Store
/svwebsite/Thumbs.db

# Env
/svwebsite/.env
/svwebsite/.env.*
!/svwebsite/.env.example
!/svwebsite/.env.test

# Vite
/svwebsite/vite.config.js.timestamp-*
/svwebsite/vite.config.ts.timestamp-*

