# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
/goapi/*.exe
/goapi/*.exe~
/goapi/*.dll
/goapi/*.so
/goapi/*.dylib
/goapi/*.sqlite

# Test binary, built with `go test -c`
/goapi/*.test

# Code coverage profiles and other test artifacts
/goapi/*.out
/goapi/coverage.*
/goapi/*.coverprofile
/goapi/profile.cov

# Dependency directories (remove the comment below to include it)
# /goapi/vendor/

# Go workspace file
/goapi/go.work
/goapi/go.work.sum

# env file
/goapi/.env

# Editor/IDE
# .idea/
# .vscode/

# SVELTE ignore
/website/node_modules

# Output
/website/.output
/website/.vercel
/website/.netlify
/website/.wrangler
/website/.svelte-kit
/website/build


# OS
/website/.DS_Store
/website/Thumbs.db

# Env
/website/.env
/website/.env.*
!/website/.env.example
!/website/.env.test

# Vite
/website/vite.config.js.timestamp-*
/website/vite.config.ts.timestamp-*

